@model IEnumerable<GroceryProductProj.Models.GroceryProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    }
@*<h2 background-color="#ffcccc"><b><i>Index</i></b></h2>*@

<marquee scrolldelay="20" direction="right" loop="50" behaviour="alternate" bgcolor="lightgray" onmouseover="this.stop();" onmouseout="this.start();">
    <h2 align="center"><b><i>Grocery Product</i></b></h2>
</marquee>
<h1><i><b>Welcome</b></i></h1>

<title>Text alignment</title>
<style>
    marquee{
        border: 2px;
        margin: auto;
        font: 16px;
        border: black 10px;
        text-shadow: 1px 1px white;
    }
    h1 {
        text-align: right;
        background-color:mistyrose;
        text-shadow: 1px 1px lightblue;
    }

    th {
      
        text-shadow: 1px 1px lightblue;
    }
</style>

<body background-color="#ffcccc">

    <h1><i><b> @Context.Session.GetString("UserName")</b></i></h1>
</body>


<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table" style="background-color:antiquewhite" border="7px">
    <thead bgcolor="#FFC1CC">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantityKg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantityKg)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning"  asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
<a asp-action="Product" class="btn btn-primary" asp-controller="Product">Logout</a>